div{
    background-color: #4CAF50;
    border: 3px solid #4CAF50;
    height: 100px;
    width: 100px;
}

section{
    border: 3px solid #4CAF50;
}

.img1{
    float: right;
}

.img2{
    float: right;
}

.caixa{
    overflow: auto;
}