.div1, .div3{
    border: 3px solid #73AD21;
    float: left;
    padding: 10px;
}

.div2{
    border: 3px solid red;
    padding: 10px;
}

.div4{
    border: 3px solid red;
    clear: left;
    padding: 10px;
}