body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

h1{
    font-size: 2em;
    color: darkgreen;
}

h2{
    color: green;
}

#tituloPrincipal{
    
}

.topico{
    text-align: right;
}

.Acaraje{
    text-align: center;
}