aside{
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    float: right;
    padding: 10px;
    width: 260px;
}

aside h3{
    font-size: 14px;
    margin-top: 0;
}

aside ol{
    font-size: 12px;
}