body{
    background-color: #FFF1D6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6; /*Aumenta a altura entre linhas*/
    max-width: 1000px;
    margin: 0 auto;
}

main{
    margin: 0 auto;
    width: 660px;
    float: left;
}

h1:hover{
    background-color: #7E9F19;
    color: #FFF;
}

section{
    background-color: #FFF;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding: 10px;
}

section h2{
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}

section img{
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}

.clear{
    clear: both;
}