*{
   margin: 0;
   padding: 0;   
}

section{
    padding: 20px;
    width: 100%; 
}

div{
    height: 150px;
    margin: 5px;
    width: 50px;
}

.esquerda{
    background-color: pink;
    float: left;
}

.direita{
    float: right;
    background-color: cyan;
}